@import url(https://fonts.googleapis.com/css?family=Allerta);

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #F1E9E4;
  font-family: 'Allerta', sans-serif;
}

.shopping-cart{
  width: 1500px;
  height: 300px;
  margin: 10px auto;
  background: #FFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  display: flex;
  flex-direction: row;

}

.title {
    height: 60px;
    width: 50px;
    padding: 10px 10px;
    margin: 0 auto;
    font-size: 1.5em;
    color: #000;
    background: #FFF;
  
 }



.item {
  padding: 20px 50px;
  height: 300px;
  display: flex;
  border-right: 1px solid #E1E8EE;
}


.buttons {
  position: flex;
  padding-top: 30px;
  margin-right: 10px;
}


.delete-btn,
.like-btn {
  display: flex;
  cursor: pointer;
  width: 60px;
  height: 60px;
  font-weight: 100;
  font-size: 30px;

}

.is-active {
  animation-name: animate;
  animation-duration: .8s;
  animation-iteration-count: 1;
  animation-timing-function: steps(28);
  animation-fill-mode: forwards;
}
 
@keyframes animate {
  0%   { background-position: left;  }
  50%  { background-position: right; }
  100% { background-position: right; }
}

.image img{
	  padding-top: 10px;
  margin: 20px 20px;
  width: 100%;
  height: auto;

}


 .description {
  padding-top: 10px;
  margin: 30px;
  width: 110px;
}

.description span:first-child {
  margin-bottom: 5px;
}
.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939E;
}

.quantity {
  padding-top: 20px;
   margin: 20px;
}

.quantity input {
  -webkit-appearance: none;
  border: none;
  margin: 10px 0;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

button[class*=btn] {
  width: 30px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.minus-btn img {
  margin-bottom: 2px;
}
.plus-btn img {
  margin-top: 2px;
}

.total-price {
  width: 80px;
  padding-top: 55px;
  text-align: center;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

