body{
  text-align: center;
  background:url("https://scontent.fmel3-1.fna.fbcdn.net/v/t1.15752-0/p280x280/117629271_437154793907725_6305317724637336803_n.jpg?_nc_cat=102&_nc_sid=b96e70&_nc_ohc=jrPG-az4Dk8AX_qXtDK&_nc_ht=scontent.fmel3-1.fna&_nc_tp=6&oh=a9e2dafe334c5b83031e062a0faf6942&oe=5F57C2DD");
  background-size: cover;
  color: #fff;
  font-family: Helvetica;
}
hr{
  width: 200px;
}
p{ 
  font-size: 22px;
}