body{
  text-align: center;
  background: black;   
  color: #fff;
  font-family: Helvetica;

}


header{   
	padding: 30px 50px 10px 50px; 
	border: 5px solid #fff
 }

 nav a{
 	color: #fff
 	font-style: italic;
 	text-align: left;
 	margin-left: 10px

 }

 a{
	color: white;
 	font-family: helvetica;
 	font-style: italic;
 	
}

img{
	width: 600px
}


hr{
  width: 300px;
}
p{ 
  font-size: 20px;
}